body {
    
    margin: 0;
      padding: 0;
      background: url('imagenes/fondo-blanco-negro-3d.jpg') no-repeat center center fixed;
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.);
      height: 100vh;
      transform-origin: left top;
}

body::before {

    opacity: 30%;
}


header {
    filter: drop-shadow(0px 0px 100px white);
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: "Bungee Shade", sans-serif;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

h2 {
    font-family: sans-serif;
    padding-top: 2%;
    text-align: center;
    color: white;
}

.section {
    background-color: #2A2A2A;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caja1 {

    background-color: #403F3F;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    background: url('imagenes/fondo-blanco-negro-3d.jpg') no-repeat center center fixed;
    background-size: cover;
    
    
}

.img1{

    justify-content: center;
    text-align: center;


}

p{

    color: white;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.divisoria {
    border-bottom: 1px solid rgb(255, 255, 255);
    display: inline-block; 
    width: 50%;
  }

img {
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    filter: saturate(0);
    border-radius: 5%;
    padding: 5%;
    padding-top: 15%;
    margin-bottom: -20px;
    filter: drop-shadow(0px 0px 9px rgb(255, 255, 255));
}

a:hover img {
    filter: saturate(1);
}